*.gem
ext/ordered_json_c.o
ext/conftest.dSYM
ext/mkmf.log
ext/Makefile
ext/ordered_json_c.bundle
ext/json-c-0.8/.deps/
ext/json-c-0.8/.libs/
ext/json-c-0.8/Makefile
ext/json-c-0.8/arraylist.lo
ext/json-c-0.8/arraylist.o
ext/json-c-0.8/config.h
ext/json-c-0.8/config.log
ext/json-c-0.8/config.status
ext/json-c-0.8/debug.lo
ext/json-c-0.8/debug.o
ext/json-c-0.8/json.pc
ext/json-c-0.8/json_object.lo
ext/json-c-0.8/json_object.o
ext/json-c-0.8/json_tokener.lo
ext/json-c-0.8/json_tokener.o
ext/json-c-0.8/json_util.lo
ext/json-c-0.8/json_util.o
ext/json-c-0.8/libjson.la
ext/json-c-0.8/libtool
ext/json-c-0.8/linkhash.lo
ext/json-c-0.8/linkhash.o
ext/json-c-0.8/printbuf.lo
ext/json-c-0.8/printbuf.o
ext/json-c-0.8/stamp-h1
